video { 
    position: fixed;    
    min-width: 100%;
    min-height: 100%;    
    z-index: -100;    
	background: url('../media/fondoIndex.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

.card {
    opacity: .8;
}

.color-seleccionado,.color-seleccionado:active{
    background-color: cadetblue;
}

.alert{
    display: none;
}