div#juego
{
  float: left;
  width: 800px;
  height: 600px;
}

div#lateral
{
  float: left;
  width: 400px;
  height: 450px;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#contenedor_juego {
    width: fit-content;
    height: fit-content;
}

#fondo_menu_pausa {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
}

#menu_pausa_main_div {
    width: fit-content;
    height: fit-content;
}

#fondo_fin_partida {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: none;
}

#fin_partida_main_div {
    width: fit-content;
    height: fit-content;
}

.div_img_fin_partida {
  padding: 10;
}